<div data-ng-controller="productController" class="jumbotron text-center">

    <h1>{{message}}</h1>

    <div>

        <table class="table-responsive">
            <thead>
                <tr>
                    <!--<th>Id</th>-->
                    <th>Produkt Namn</th>
                    <th>Pris</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="p in products" ng-click="getProductById(p.id)">
                    <!--<td>{{p.id}}</td>-->
                    <td>{{p.name}}</td>
                    <td>{{p.price}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
